@charset "utf-8";

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Nunito", Helvetica, sans-serif;
    color: #222222;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    /* display: block; */
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

.logo {
    height: 100px;
    width: 100px;
}

.menu-bg {
    background-color:  #39A8DF;  /*#FAFAFA*/
}

.menu {
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    color: white;
}

.menu-logo {
    border-radius: 50px;
}
.menu-logo a {
    font-size: 2.25em;
    font-weight: bold;
    margin: 0 10px;
}

.menu-nav ul {
    display: flex;
    flex-wrap: wrap;
}

.menu-nav a {
    font-size: 1.25em;
    display: block;
    padding: 10px;
    border-radius: 10px;
}

.menu-nav a:hover {
    transition-duration: 0.5s;
    color: #10658a;
    background-color: white;
}

/* Slider */
.slider-bg {
    background-color: white;
}
.slider {
    margin: 0 auto;
    width: 100%;
    height: 65vh;
    overflow: hidden;
}
.slides {
    width: 400%;
    height: 400px;
    display: flex;
}
.slides input {
    display: none;
}
.slide {
    width: 25%;
    transition: 2s;
    /* position: relative; */
}
.slide img {
    width: 100vw;
}

.manual-navigation {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .7s;
}

.manual-btn:not(:last-child) {
    margin-right: 25px;
}

.manual-btn:hover {
    background-color: white;
}

/* O margin-left dos id's abaixo determinam em que posição a imagem de 400% de tamanho estará no slider */
#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 25px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #fff;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #fff;
}
/* Fim Slider */



/*Adição 1*/
.nav-list {
    display: flex;
}

.mobile-menu {
    display: none;
    cursor: pointer;
    margin-left: 200px;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: white;
    margin: 8px;
    transition: 0.3s;
}

/*Introdução*/
.img-bg {
    height: 60vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.img-bg > p {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.452);
    font-size: 1.8em;
    padding-bottom: 20px;
}
#mug-main {
    background: black url('../img/mug-main-foto.jpg') bottom center no-repeat fixed;
}

/* Sobre */
.sobre {
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0px;
    display: flex;
    flex-wrap: wrap;
    /* box-shadow: 0px 1px 4px 0px black; */
}

.sobre-info {
    flex: 2 1 300px;
    margin: 0 10px;
}

.sobre-info h1 {
    font-size: 3em;
    margin-bottom: .5em;
}

.sobre-info p {
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 1em;
}

/*Produtos*/
.produtos {
    max-width: 960px;
    margin: 60px auto;
    border-top: 3px solid #20B6F5;
    padding-top: 40px;
}

.produtos h1 {
    font-size: 3em;
    margin: 0px 10px 60px 10px;
}

.produtos-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.produtos-item {
    /* Uma forma que substitui declarar um flex-basis de 175px é definir um min-width de 175px */
    flex: 1 1 175px;
    margin: 10px;
    max-width: 590px;
}

.produtos-item h2 {
    font-size: 3em;
    color: #a4a4a4;
    background: #f7f7f7;
    padding: 60px 19px;
}

.mug {
    border-top: 8px solid #87A3B8;
}

.garrafa {
    border-top: 8px solid #CF015C;
}

.taca {
    border-top: 8px solid #0170B2;
}

.mimo {
    border-top: 8px solid #B94240;
}


/* Preço item */

/* Preço */

.preco {
    background: #20B6F5;
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
}

.preco-item {
    flex: 1 1 260px;
    border: 4px solid white;
    padding: 20px;
    margin: 10px;
}

.preco-item h2 {
    font-size: 3em;
    color: #a4a4a4;
    text-align: center;
    margin-top: 20px;
}

.preco-item span {
    max-width: 300px;
    margin: 20px auto;
    display: block;
    font-size: 3em;
    text-align: center;
    font-weight: bold;
    padding: 10px 0 5px 0px;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
}

.preco-item sup {
    /* rem é relativo a raiz do size, ou seja, 16px */
    font-size: 1.5rem;
}

.preco-item ul {
    max-width: 300px;
    margin: 20px auto;
    font-size: 1.25em;
    font-style: italic;
    color: #7c7c7c;
}

.preco-item li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.preco-item li::after {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background-color: #2c70ff;
    border-radius: 50%;
}

.preco-item a {
    max-width: 300px;
    display: block;
    margin: 20px auto;
    border: 4px solid;
    color: #222222;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.25em;
    padding: 15px 0;
    text-align: center;
}
@media (max-width: 600px) {
    body {
        overflow-x: hidden;
    }

    .menu-nav a {
        color: white;
        border-radius: 10px;
    }

    .menu-nav a:hover {
        transition-duration: 0.5s;
        color: #10658a;
    }

    .nav-list {
        position: absolute;
        top: 18vh;
        right: 0;
        width: 75vw;
        height: 70vh;
        background-color: #39A8DF;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        border-bottom: 1px solid #10658a;
        border-radius: 0px 0px 0px 10px;
    }

    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }

    .nav-list.active {
        transform: translateX(0);
    }

    /* Anima os links */
    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}
