@charset "utf-8";

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Nunito", Helvetica, sans-serif;
    color: #222222;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.logo {
    height: 100px;
    width: 100px;
}

.menu-bg {
    background-color: #FAFAFA;
}

.menu {
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    color: #20B6F5;
}

.menu-logo a {
    font-size: 2.25em;
    font-weight: bold;
    margin: 0 10px;
}

.menu-nav ul {
    display: flex;
    flex-wrap: wrap;
}

.menu-nav a {
    font-size: 1.25em;
    display: block;
    padding: 10px;
}

.menu-nav a:hover {
    transition-duration: 0.5s;
    color: #10658a;
}

/*Adição 1*/
.nav-list {
    display: flex;
}

.mobile-menu {
    display: none;
    cursor: pointer;
    margin-left: 200px;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #20B6F5;
    margin: 8px;
    transition: 0.3s;
}

/*Introdução*/
.img-bg {
    height: 85vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.img-bg > p {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.452);
    font-size: 1.8em;
    padding-bottom: 20px;
}
#mug-main {
    background: black url('../img/mug-main-foto.jpg') bottom center no-repeat fixed;
}

/* Sobre */
.sobre {
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 1px 4px 0px black;
}

.sobre-info {
    flex: 2 1 300px;
    margin: 0 10px;
}

.sobre-info h1 {
    font-size: 3em;
    margin-bottom: .5em;
}

.sobre-info p {
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 1em;
}

/*Produtos*/
.produtos {
    max-width: 960px;
    margin: 60px auto;
    border-top: 3px solid #20B6F5;
}

.produtos h1 {
    font-size: 3em;
    margin: 0px 10px 60px 10px;
}

.produtos-container {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
}

.produtos-item {
    /* Uma forma que substitui declarar um flex-basis de 175px é definir um min-width de 175px */
    flex: 1 1 175px;
    margin: 10px;
}

.produtos-item h2 {
    font-size: 3em;
    color: #a4a4a4;
    background: #f7f7f7;
    padding: 60px 20px;
}

@media (max-width: 600px) {
    body {
        overflow-x: hidden;
    }

    .menu-nav a {
        color: #20B6F5;
        border-radius: 10px;
    }

    .menu-nav a:hover {
        transition-duration: 0.5s;
        color: #10658a;
    }

    .nav-list {
        position: absolute;
        top: 18vh;
        right: 0;
        width: 75vw;
        height: 70vh;
        background-color: #FAFAFA;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        border-bottom: 1px solid #10658a;
        border-radius: 0px 0px 0px 10px;
    }

    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }

    .nav-list.active {
        transform: translateX(0);
    }

    /* Anima os links */
    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}
